.online-sync {
    color: #fff;
}

.emoji-history-item {
    color: #fff;

    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 20px;

    position: relative;

    margin: 15px 0;
}

.emoji-history-item .restore-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px;
}

.emoji-history-item .time {
    font-size: 1.3em;
}

.emoji-history-item .count {
    font-size: 1.1em;
}

.emoji-history-item .sect {
    margin: 5px 0;
}

.emoji-history-item .sample {
    vertical-align: middle;
}

.emoji-history-item .sample .emote-container {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 3px;
}

.emoji-history-item .emote {
    flex: 0 1 auto;
    margin: 5px;
}

.emoji-history-item .emote img {
    height: 25px;
    width: 25px;
}